@import "colors";

body{
    background-color: $navy;
}

#container{
    display: grid;
    a{
        color: $difRed;
        :hover{
            color: $offWhite;
        }
        h1 {
        margin: 2rem;
        }
    }

    main{
        margin: auto;
        color: $offWhite;
        text-align: center;
        width: 1200px;
        input{
           padding: 12px 30px; 
           border: $difRed 2px solid;
           border-radius: 5px;
        }
        button{
            padding: 12px;
            border-radius: 4px;
        }
        .movie-list{
            color: $offWhite;
            text-align: center;
            display: inline-block;
            article{
                margin: 1rem;
                padding: 10px;
                border: $difRed 1px solid;
                width: 400px;
                height: fit-content;
                a{
                    :hover{
                        color: $offWhite;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    main{
        margin: auto;
        color: $offWhite;
        text-align: center;
        width: 900px;
        input{
           padding: 12px 30px; 
           border: $difRed 2px solid;
           border-radius: 5px;
        }
        button{
            padding: 12px;
            border-radius: 4px;
        }
        .movie-list{
            color: $offWhite;
            text-align: center;
            display: inline-block;
            article{
                margin: 1rem;
                padding: 10px;
                border: $difRed 1px solid;
                width: 200px;
                height: fit-content;
                a{
                    :hover{
                        color: $offWhite;
                    }
                }
            }
        }
    }
}